{% extends 'base/base.html' %}
{% load static %}
{% block 'head' %}
  <link rel="stylesheet" href="{% static 'Platform/css/home.css' %}">
  
{% endblock %}

{% block 'title' %}EventEase - Explorar{% endblock %}

{% block 'body' %}
    <header>
        <p>Procure eventos facilmente...</p>
        <form action="{% url 'explorar_eventos' %}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="search" value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-outline-secondary color-blue">Pesquisar</button>
            </div>
            <div style="color: rgb(159, 159, 159);" id="titlehelp" class="form-text">Filtre e depois clique no botão "Pesquisar"</div>

            <!-- FIltrar -->

            <div class="div-select-filters">
                <label for="select_category">Categoria</label>
                <select name="select_category" id="select_category" class="filter-select">
                    <option value="">Tudo</option>
                    {% for category in categories %}
                      <option value="{{ category.id }}">{{ category }}</option>
                    {% endfor %}
                  </select>
            </div>

            <div class="div-select-filters">
              <label for="select_num_participants">Nº participantes</label>
              <select name="select_num_participants" id="select_num_participants" class="filter-select">
                <option value="">Tudo</option>
                <option value="gt_10">Mais que 10</option>
                <option value="lt_10">Menos que 10</option>
                <option value="gt_20">Mais que 20</option>
                <option value="lt_20">Menos que 20</option>
                <option value="gt_50">Mais que 50</option>
                <option value="lt_50">Menos que 50</option>
                <option value="gt_100">Mais que 100</option>
                <option value="lt_100">Menos que 100</option>
              </select>
            </div>

            <div class="div-select-filters">
              <label for="select_start_date_time">Data início</label>
              <select name="select_start_date_time" id="select_start_date_time" class="filter-select">
                <option value="">Tudo</option>
                <option value="today">Hoje</option>
                <option value="this_month">Este mês</option>
                <option value="next_month">Mês que vem</option>
                <option value="this_year">Este ano</option>
              </select>
            </div>

            <div class="div-select-filters">
              <label for="select_private">Privado</label>
              <select name="select_private" id="select_private" class="filter-select">
                <option value="">Tudo</option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
              </select>
          </div>

            
          <div class="div-select-filters">
            <label for="select_free">Livre</label>
            <select name="select_free" id="select_free" class="filter-select">
              <option value="">Tudo</option>
              <option value="true">Sim</option>
              <option value="false">Não</option>
            </select>
          </div>
            <a style="padding: 7px; margin-left: 5px;" href="{% url 'explorar_eventos' %}" class="cta-button">Limpar</a>
        </form>
    </header>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

    <div class="row gy-4 posts-list">
      {% for event in page %}
      <div class="col-xl-4 col-md-6 custom-card">
        <article>
          <div class="post-img">  
            <img src="{{ event.event_banner.url }}" alt="" class="img-fluid custom-img-fluid">
          </div>
          <p class="post-category">
            {{ event.category }}
          </p>

          <h2 class="title">
            <a href="#details">{{ event.title }}</a>
          </h2>
          <p class="caracteristica-evento">{% if event.free %}Livre{% else %}+18{% endif %}</p>
          <p class="caracteristica-evento">{% if event.private %}Privado{% else %}Público{% endif %}</p>

          <div class="d-flex align-items-center">
            <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-author-list">Nome Organizador</p>
              <p class="post-date"> 
                <time datetime="{{ event.start_date_time }}">{{ event.start_date_time|date:"d/m/Y" }}</time>
              </p>
            </div>
          </div>
          <a href="#" class="cta-button btn-edit">Ver mais</a>
        </article>
      </div>

 {% empty %}
      <h1>Nenhum evento encontrado.</h1>

 {% endfor %}

 <div class="blog-pagination">
  <ul class="justify-content-center">

    {% if page.has_previous %}
      <li><a href="{% url 'explorar_eventos' %}?page={{ page.previous_page_number }}&search={{ request.GET.search }}&select_category={{ request.GET.select_category }}&select_num_participants={{ request.GET.select_num_participants }}&select_start_date_time={{ request.GET.select_start_date_time }}&select_private={{ request.GET.select_private }}&select_free={{ request.GET.select_free }}">Anterior</a></li>
    {% endif %}

    {% for num in page.paginator.page_range %}
      {% if num == page.number %}
        <li class="active"><a href="">{{ page.number }}</a></li>
      {% else %}
      <li><a href="{% url 'explorar_eventos' %}?page={{ num }}&search={{ request.GET.search }}&select_category={{ request.GET.select_category }}&select_num_participants={{ request.GET.select_num_participants }}&select_start_date_time={{ request.GET.select_start_date_time }}&select_private={{ request.GET.select_private }}&select_free={{ request.GET.select_free }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page.has_next %}
      <li><a href="{% url 'explorar_eventos' %}?page={{ page.next_page_number }}&search={{ request.GET.search }}&select_category={{ request.GET.select_category }}&select_num_participants={{ request.GET.select_num_participants }}&select_start_date_time={{ request.GET.select_start_date_time }}&select_private={{ request.GET.select_private }}&select_free={{ request.GET.select_free }}">Próxima</a></li>
    {% endif %}

  </ul>
</div><!-- End blog pagination -->

</div>
</section><!-- End Blog Section -->

</div>
</section><!-- End Blog Section -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}