{% extends 'base/base.html' %}
{% load static %}
{% block 'head' %}
  <link rel="stylesheet" href="{% static 'Platform/css/home.css' %}">
{% endblock %}

{% block 'title' %}EventEase - Explorar{% endblock %}

{% block 'body' %}
    <header>
        <p>Procure eventos facilmente...</p>
        <form action="" method="post">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                <button type="button" class="btn btn-outline-secondary color-blue">Pesquisar</button>
            </div>
            <!-- FIltrar -->
            <div class="div-select-filters">
                <label for="select-categoria">Categoria</label>
                <select name="select-categoria" id="select-categoria" class="filter-select">
                    <option value="tudo">Tudo</option>
                </select>
            </div>

            <div class="div-select-filters">
                <label for="select-livre">Livre</label>
                <select name="select-livre" id="select-livre" class="filter-select">
                    <option value="livre-sim">Sim</option>
                    <option value="livre-nao">Não</option>
                </select>
            </div>        
        </form>
    </header>
<hr>
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4 posts-list">
      {% for event in events %}
      <div class="col-xl-4 col-md-6 custom-card">
        <article>
          <div class="post-img">
            <img src="{{ event.event_banner.url }}" alt="" class="img-fluid custom-img-fluid">
          </div>
          <p class="post-category">
            {% for category in event.category %}
              {% if forloop.first %}
                  <p>{{ category }}</p>
              {% endif %}
            {% endfor %}
          </p>

          <h2 class="title">
            <a href="#details">{{ event.title }}</a>
          </h2>
          <p class="caracteristica-evento">{% if event.free %}Livre{% else %}+18{% endif %}</p>
          <p class="caracteristica-evento">{% if event.private %}Privado{% else %}Público{% endif %}</p>

          <div class="d-flex align-items-center">
            <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <p class="post-date"> 
                <time datetime="{{ event.start_date_time }}">{{ event.start_date_time|date:"d/m/Y" }}</time>
              </p>
            </div>
          </div>
          <a href="#" class="cta-button btn-edit">Editar</a>
        </article>
      </div>

 {% empty %}
      <h1>Nenhum evento encontrado.</h1>

 {% endfor %}
</div>
</section><!-- End Blog Section -->

{% endblock %}