{% extends 'base/base.html' %}
{% load static %}


{% block 'head' %}
  <link rel="stylesheet" href="{% static 'Platform/css/home.css' %}">
{% endblock %}

{% block 'title' %} EventEase - Home {% endblock %}


{% block 'body' %} 
  <header>
    <div class="container">
        <h1>EventEase - Organize e participe de eventos de maneira descomplicada e eficiente. </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum sit totam animi debitis quam iste, voluptas qui molestiae doloribus nesciunt magni assumenda voluptates ea inventore. Quis ratione fuga enim hic.</p>
        
        {% if not request.user.is_authenticated %}
          <a href="{% url 'account_signup' %}" class="cta-button">Registre-se Agora</a>
          <a href="{% url 'account_login' %}" class="cta-button">Entrar</a>
        {% endif %}
    </div>
  </header>

{% if messages %}
  <br>
  <ul class="messages">
      {% for message in messages %}
        <div class="{{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
  </ul>
{% endif %}

  <div class="container">
    <h2 style="color: #f85a40;">Eventos em Destaque</h2>
    <p>Confira os eventos mais populares e próximos. Para mais, acesse <a href="#">Explorar</a></p>
  </div>


  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4 posts-list">

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Categoria A</p>

            <h2 class="title">
              <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
            </h2>
            <p class="caracteristica-evento">Privado</p>
            <p class="caracteristica-evento">+18</p>


            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Nome Organizador</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Jan 1, 2022</time>
                </p>
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Categoria A</p>

            <h2 class="title">
              <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
            </h2>
            <p class="caracteristica-evento">Privado</p>
            <p class="caracteristica-evento">+18</p>


            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Nome Organizador</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Jan 1, 2022</time>
                </p>
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Categoria A</p>

            <h2 class="title">
              <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
            </h2>
            <p class="caracteristica-evento">Privado</p>
            <p class="caracteristica-evento">+18</p>
            


            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Nome Organizador</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Jan 1, 2022</time>
                </p>
              </div>
            </div>

          </article>
        </div><!-- End post list item -->
  </section><!-- End Blog Section -->
{% endblock %}