{% extends "base/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
    <style>
        .custom-container a{
            color: #f85a40;
            text-decoration: underline;

        }
        a:hover{
            color: #c54734;
            text-decoration:solid;
        }
        ul{
            margin: 0;
        }
    </style>
{% endblock %}

{% block title %}Perfil{% endblock %}

{% block body %}    

    <div class="container custom-container c-auth">
        <h1>Perfil</h1>
        {% if messages %}
        
        <ul class="messages">
            {% for message in messages %}
            <div class="{{ message.tags }}" role="alert">
                {{ message|safe }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}

        <hr>
        <form action="" method="post" enctype="multipart/form-data" class="row g-3">{% csrf_token %}
            <div class="mb-3">
                <label for="id_user_img">{{ form.user_img.label }}:</label> <br>
                <a href="{{ user_img.url }}">
                    <img class="value-img" src="{{ user_img.url }}">
                </a> 
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        {% if not user_img_is_default %}
                        <a class="btn btn-danger delete-btn" href="{% url 'remover_user_img' %}" title='Remover imagem de usuário' >
                          <i class="bi bi-trash" style="color: white;"></i>
                        </a>
                        {% endif %}
                        {{ form.user_img }}
                      </div>
                    </div>
                  </div>
                {% if form.user_img.errors %}
                    <ul class="errorlist">
                        {% for error in form.user_img.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="id_username">{{ form.username.label }}:</label>
                {{ form.username }}

                {% if form.username.errors %}
                    <ul class="errorlist">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="id_idade">{{ form.idade.label }}:</label>
                {{ form.idade }}

                {% if form.idade.errors %}
                    <ul class="errorlist">
                        {% for error in form.idade.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <a href="{% url 'account_change_password' %}"><b>Mudar Senha</b></a>
            <hr>
            <label>Número de Telefone:</label>
            <div class="mb-3">
                {{ form_filho.management_form }}
                {% for form_ in form_filho %}
                    {% if forloop.first %}
                        <p class="form_">
                            {{ form_ }}
                        </p>
                    {% else %}
                        {% if form_.has_changed %}
                            <p class="form_">
                                {{ form_ }}
                            </p>
                        {% else %}
                            <div hidden class="hid-form">{{ form_ }}</div>
                        {% endif %}
                    {% endif %}
                    {% if forloop.last %} 
                        {% if not form_.has_changed %}
                            <button onclick="addNumber(this)" type="button">add número</button>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </div>
            <hr>
            <button type="submit" class="btn cta-button">Salvar</button>
        </form>
    </div>
{% endblock %}

{% block endbody %} 
<h1>nao si o qeu nao sei o que la</h1> 
<script>

let hiddens = document.getElementsByClassName('hid-form');
function addNumber(btn) {
    hidden = hiddens[0]
    hidden.removeAttribute('hidden')
    hidden.classList.remove('hid-form')
    
    hiddens = document.getElementsByClassName('hid-form');
    if (hiddens.length == 0){
        btn.remove()
    }
}
</script>
{% endblock %}