{% extends "base/base.html" %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'Platform/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
{% endblock %}

{% block title %}{{ user.username }} - Eventos Participando{% endblock %}

{% block body %}
    <div class="container custom-container ">
        {% if messages %}
        <br>
        <ul class="messages">
            {% for message in messages %}
              <div class="{{ message.tags }}" role="alert">
                {{ message|safe }}
              </div>
            {% endfor %}
        </ul>
      {% endif %}
        <br>
      <h1><u>{{ user.username }} - Eventos Participando</h1>
      <p style="float: right;"><i title="Quantidade total de eventos em que o usuário está participando" class="bi bi-diamond-fill"></i> {{ event_participanting.count }}</p> <br>
      <hr><br>

      {% for event in event_participanting %}
      <div class="row">
        <div class="col-12">
          <div class="card {% if event.has_passed %}has_passed {% else %} custom-mini-card{% endif %} " style="max-width: 100%; margin-bottom: 0.25rem;">
              <div class="card-body">
              <div class="row align-items-center">
                <div class="col-2">
                  <a href="{{event.event_banner.url}}"><img width="40px" src="{{ event.event_banner.url }}" alt="Imagem do usuário" class="img-fluid"></a>
                </div>
                <div class="col-6">
                  <p class="card-text d-inline texts-container" style="margin-right: 2rem; margin-left: 0;"><a class="link" href="{% url 'ver_mais' event.id %}">{{ event.title }}</a></p>
                </div>
                <div class="col-4 text-right">
                    <a class="btn cta-button" href="{% url 'ver_mais' event.id %}">Ver Mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
    <div class="row">
      <h2>{{ user.username }} não participa de nenhum evento.</h2>
    </div>
    {% endfor %}
</div>

    
{% endblock %}