{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}} link" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<li>
  {% if provider.name == 'Google' %}
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} link" 
  href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img width="200px" src="{% static 'accounts/img/btn_google_signin_dark_normal_web@2x.png' %}"></a>
  {% else %}
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} link" 
  href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
  {% endif %}   
</li>
{% endfor %}
