<div class="alert alert-block {% if notice.data.extra_data.solicitation %}solicitation-{{ notice.data.extra_data.solicitation }}{% else %}alert-{{ notice.level }} {% endif %}">
  <a class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">
    <i class="icon-close"></i>
  </a>
    <div class="card-body">
      <h5 class="card-title"><a class="" href="{% url 'ver_perfil' notice.actor.id %}">{{ notice.actor }}</a></h5>   
      <a style="float: right; padding-bottom: 3px; padding-right: 14px; padding-left: 14px;" title="Marcar como lida" type="btn cta-button" href="{% url 'notifications:mark_as_read' notice.slug %}" class="btn cta-button"><i class="bi bi-eye-fill"></i> </a>
      
      {% for action in notice.data.actions %}
        <a style="padding: 7px; float: right; margin-right: 5px;" class="btn cta-button" title='Ver todas as solicitações do evento "{{ notice.target.title }}"' href="{{ action.ver_participacoes_href }}">{{ action.title }}</a>
      {% endfor %}
      <p class="card-text">{{ notice.verb|safe }}</p>
      <p class="card-text"><small class="text-muted">{{ notice.timesince }} atrás</small></p>
    </div>  
  
  <div class="notice-actions">
  </div>
</div>