{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block 'title' %}Fazer Login{% endblock %}

{% block 'body' %}
  {% block content %}

  <div class="container custom-container c-auth">
    <h1>{% trans "Sign In" %}</h1>
   
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a class="link" href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>Se você ainda não criou uma conta ainda, se cadastre
    <a class="link" href="{{ signup_url }}">sign up</a> primeiro.</p>
    {% endif %}
  
    <form class="login row g-3" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <hr>

      {% if messages %}
      <br>
      <ul class="messages">
          {% for message in messages %}
            <div class="{{ message.tags }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
      </ul>
      <hr>
    {% endif %}

        {% if form.errors.values %}
        <ul class="custom-errorlist">
          {% for error in form.errors.values %}
            {{ error }}
          {% endfor %}
        </ul>
        {% endif %}
      <div>
        <label for="id_login">{{ form.login.label }}</label>
        {{ form.login }} 
      </div> 
  
        <div>
          <label for="id_password">{{ form.password.label }}</label>
          {{ form.password }} 
        </div>

        <div>
          <label for="id_remember">{{ form.remember.label }}:</label>
          {{ form.remember }}
        </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <hr>
      <button class="btn cta-button" type="submit">{% trans "Sign In" %}</button>
      <a class="button secondaryAction link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

    </form>
  </div>
  {% endblock %}
{% endblock %}