{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head %}
  <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block title %}Fazer Login{% endblock %}

{% block body %}
  {% block content %}

  <div class="container custom-container c-auth">
    <h1>{% trans "Sign In" %}</h1>
    <p>Se você ainda não criou uma conta, <b>se cadastre
      <a class="link" href="{{ signup_url }}">sign up</a></b>, ou se <b>conecte com sua conta Google</b>, logo abaixo.</p>
  
    <form class="login row g-3" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <hr>

      {% if messages %}
      <br>
      <ul class="messages">
          {% for message in messages %}
            <div class="{{ message.tags }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
      </ul>
    {% endif %}

        {% if form.errors.values %}
        <ul class="custom-errorlist">
          {% for error in form.errors.values %}
            {{ error }}
          {% endfor %}
        </ul>
        {% endif %}
      <div>
        <label for="id_login">{{ form.login.label }}</label>
        {{ form.login }} 
      </div> 
  
        <div>
          <label for="id_password">{{ form.password.label }}</label>
          {{ form.password }} 
        </div>

        <div>
          <label for="id_remember">{{ form.remember.label }}:</label>
          {{ form.remember }}
        </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <hr>
      <a style="margin: 0;" class="button secondaryAction link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="btn cta-button" type="submit">{% trans "Sign In" %}</button>

    </form>
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

    <div class="socialaccount_ballot">
      
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

    </div>
      {% include "socialaccount/snippets/login_extra.html" %}
   
    {% endif %}

  </div>
<p hidden>template-Eventease</p>

  {% endblock %}
{% endblock %}