{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block 'title' %}Mudar Senha{% endblock %}

{% block content %}


<div class="container custom-container c-auth">
    <h1>{% trans "Change Password" %}</h1>
    

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change row g-3">
        {% csrf_token %}
        <hr>

        {% if messages %}
        <br>
        <ul class="messages">
            {% for message in messages %}
              <div class="{{ message.tags }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
        </ul>
        <hr>
      {% endif %}
      

      {% if form.errors.values %}
      <ul class="custom-errorlist">
        {% for error in form.errors.values %}
          {{ error }}
        {% endfor %}
      </ul>
    {% endif %}
    
        <div>
            <label for="id_oldpassword">{{ form.oldpassword.label }}:</label>
            {{ form.oldpassword }}
        </div>

        <div>
            <label for="id_password1">{{ form.password1.label }}:</label>
            {{ form.password1 }}
            <span id="passwordHelpInline" class="c-form-text">
              Deve ter no mínimo 8 caracteres.
            </span>
        </div>

        <div>
            <label for="id_password2">{{ form.password2.label }}:</label>
            {{ form.password2 }}
        </div>
  
  
          <hr>
        <button type="submit" name="action" class="btn cta-button">{% trans "Change Password" %}</button>
        <a class="link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
<p hidden>template-Eventease</p>
{% endblock %}
