{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block body %}
    {% block content %}
    <div class="container custom-container c-auth">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        <hr>
        {% if token_fail %}
            <p hidden>token-invalidado</p>
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="link" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        </div>
        {% else %}
            <form method="POST" action="{{ action_url }}" class="row g-3">
                {% csrf_token %}
                
                <div>
                    <label for="id_password1">{{ form.password1.label }}:</label>
                    {{ form.password1 }}
                    <span id="passwordHelpInline" class="c-form-text">
                      Deve ter no mínimo 8 caracteres.
                    </span>
                    
                    {% if form.password1.errors %}
                        <ul class="custom-errorlist">
                        {% for error in form.password1.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}              
                </div>

                <div> 
                    <label for="id_password2">{{ form.password2.label }}:</label>
                    {{ form.password2 }}

                    {% if form.password2.errors %}
                        <ul class="custom-errorlist">
                        {% for error in form.password2.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <hr>
                <input class="btn cta-button" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
    </div>
        {% endif %}
<p hidden>template-Eventease</p>
    {% endblock %}
{% endblock %}