{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block 'title' %}{% trans "Password Reset" %}{% endblock %}
{% block 'body' %}
    {% block content %}
        <div class="container custom-container warning-container">
            <h1>{% trans "Password Reset" %}</h1>
            <hr>
        <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
    {% endblock %}
{% endblock %}
