{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}
{% block 'title' %}{% trans "Password Reset" %}{% endblock %}

{% block 'body' %}
    {% block content %}
    <div class="container custom-container c-auth">
        <h1>{% trans "Password Reset" %}</h1>
        <hr>
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset row g-3">
            {% csrf_token %}
            <div>
                <label for="id_email">{{ form.email.label }}:</label>
                {{form.email}}
                {% if form.errors.values %}
                <ul class="errorlist">
                  {% for error in form.errors.values %}
                      <li style="color: rgb(229, 70, 70);">{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
        
                <hr>
            </div>
            <input class="btn cta-button" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    </div>
    {% endblock %}
{% endblock %}