{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block 'title' %}{% trans "Signup" %}{% endblock %}
{% block 'head' %}
  <link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">
  <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">

{% endblock %}

{% block 'body' %}
  {% block content %}

  <div class="container custom-container">
  <h1>Cadastrar</h1>

  <p>Já tem uma conta? Então faça login <a class="link" href="{{ login_url }}">sign in</a></p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
  
    <p><span style="color: red;">*</span> {{ form.username.label }}:
      {{ form.username }} </p>
      <ul class="errorlist">
        {% for error in form.username.errors %}
            <li style="color: rgb(229, 70, 70);">{{ error }}</li>
        {% endfor %}
    </ul>
    
    <p><span style="color: red;">*</span> {{ form.email.label }}:
      {{ form.email }}</p>
      <ul class="errorlist">
        {% for error in form.email.errors %}
            <li style="color: rgb(229, 70, 70);">{{ error }}</li>
        {% endfor %}
    </ul>   
    
    <p><span style="color: red;">*</span> {{ form.idade.label }}:
      {{ form.idade }}</p>
      <ul class="errorlist">
        {% for error in form.idade.errors %}
            <li style="color: rgb(229, 70, 70);">{{ error }}</li>
        {% endfor %}
    </ul>
      
    <p>{{ form.phone_number.label }}:
      {{ form.phone_number }}</p>
      <ul class="errorlist">
        {% for error in form.phone_number.errors %}
            <li style="color: rgb(229, 70, 70);">{{ error }}</li>
        {% endfor %}
    </ul>    
    
    <p><span style="color: red;">*</span> {{ form.password1.label }}:
      {{ form.password1 }}</p>
    <ul class="errorlist">
        {% for error in form.password1.errors %}
            <li style="color: rgb(229, 70, 70);">{{ error }}</li>
        {% endfor %}
    </ul>
      
      <p>{{ form.password2.label }}:
      {{ form.password2 }}</p>
      <ul class="errorlist">
        {% for error in form.password2.errors %}
            <li style="color: rgb(229, 70, 70);">{{ error }}</li>
        {% endfor %}
    </ul>    <br>



      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn cta-button" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>
  {% endblock %}
{% endblock %}