{% extends 'base/base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">

{% endblock %}

{% block 'title' %}Novo Evento{% endblock %}


{% block 'body' %}
    <div class="container custom-container">
        <h1>Criar Evento</h1><br>
        <form action="{% url 'criar_evento' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="mb-3">
                <label for="title">{{ form.title.label }}</label>
                {{ form.title }}
            </div>
            
            <div class="mb-3">
                <label for="description">{{ form.description.label }}</label>
                {{ form.description }}
            </div>

            <div class="mb-3">
                {{ form.category.label }}:
                {{ form.category }}
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" name="free" id="free">
              <label class="form-check-label" for="free">Para todas as idades</label>
            </div>   

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="private" id="private">
                <label class="form-check-label" for="private">Privado</label>
                <div style="color: rgb(159, 159, 159);" id="titlehelp" class="form-text">selecionar faz com que os usuários que quiserem participar terem que solicitar</div>
            </div>

            <div class="mb-3">
                <label for="start_date_time">Data e hora de início: </label>
                <input type="text" name="start_date_time" class="form-control custom-form-width" placeholder="YYYY-MM-DD HH:MM" id="start_date_time" required>
            </div>
            <div class="mb-3">
                <label for="final_date_time">Data e hora de término: </label>
                <input type="datetime" name="final_date_time" class="form-control custom-form-width" placeholder="YYYY-MM-DD HH:MM" id="final_date_time" required>
            </div>
            <div class="mb-3">
                <label for="banner_event" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="banner_event" name="banner_event">
              </div>              

            <button type="submit" class="btn cta-button">Criar</button>
          </form>
          
    </div>
    
    <!-- Inicialize o DateTimePicker -->
{% endblock %}