{% extends 'base/base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">

{% endblock %}

{% block 'title' %}Novo Evento{% endblock %}


{% block 'body' %}
    <div class="container custom-container">
        <h1>Criar Evento</h1><br>
        <form action="{% url 'criar_evento' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="mb-3">
                <label for="title">{{ form.title.label }}</label>
                {{ form.title }}
            </div>
            
            <div class="mb-3">
                <label for="description">{{ form.description.label }}</label>
                {{ form.description }}
            </div>

            <div class="mb-3">
                {{ form.category.label }}:
                {{ form.category }}
            </div>
            <div class="mb-3 form-check">
                <label for="description">{{ form.free.label }}</label>
                {{ form.free }}
            </div>   

            <div class="mb-3 form-check">
                <label for="description">{{ form.private.label }}</label>
                {{ form.private }}
                <div style="color: rgb(159, 159, 159);" id="titlehelp" class="form-text">selecionar faz com que os usuários que quiserem participar terem que solicitar</div>
            </div>

            <div class="mb-3">
                <label for="description">{{ form.start_date_time.label }}</label>
                {{ form.start_date_time }}

            </div>
            <div class="mb-3">
                <label for="description">{{ form.final_date_time.label }}</label>
                {{ form.final_date_time }}            </div>
            <div class="mb-3">
                <label for="description">{{ form.event_banner.label }}</label>
                {{ form.event_banner }}              
            </div>              
            <button type="submit" class="btn cta-button">Criar</button>
          </form>
          
    </div>
    
    <!-- Inicialize o DateTimePicker -->
{% endblock %}