{% extends 'base/base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'Platform/css/home.css' %}">
{% endblock %}

{% block 'title' %}Meus Eventos - Organizando{% endblock %}

{% block 'body' %}
<header>
    <div class="container">
        <h1>Meus eventos  - Organizando</h1>
        <a href="{% url 'criar_evento' %}" class="cta-button">Organizar novo evento</a>

    </div>
  </header>
  
<section id="blog" class="blog">

    <div class="container" data-aos="fade-up">
      <div class="row gy-4 posts-list">
        {% for event in my_events %}
        <div class="col-xl-4 col-md-6 custom-card">
          <article>
            <div class="post-img">
              <img src="{{ event.event_banner.url }}" alt="" class="img-fluid custom-img-fluid">
            </div>
            <p class="post-category">
              {% for category in event.category %}
                {% if forloop.first %}
                    <p>{{ category }}</p>
                {% endif %}
              {% endfor %}
            </p>

            <h2 class="title">
              <a href="#details">{{ event.title }}</a>
            </h2>
            <p class="caracteristica-evento">{% if event.free %}Livre{% else %}+18{% endif %}</p>
            <p class="caracteristica-evento">{% if event.private %}Privado{% else %}Público{% endif %}</p>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-date"> 
                  <time datetime="{{ event.start_date_time }}">{{ event.start_date_time|date:"d/m/Y" }}</time>
                </p>
              </div>
            </div>
            <a href="#" class="cta-button btn-edit">Editar</a>
          </article>
        </div>

   {% empty %}
        <h1>Você não está organizando nenhum evento no momento.</h1>

   {% endfor %}
  </div>
    </div>

      <!-- End post list item -->


  </section><!-- End Blog Section -->
{% endblock %}