{% extends 'base/base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'Platform/css/home.css' %}">
{% endblock %}

{% block 'title' %}Meus Eventos - Organizando{% endblock %}

{% block 'body' %}
<header>
    <div class="container">
        <h1>Meus eventos  - Organizando</h1>
        <a href="{% url 'criar_evento' %}" class="cta-button">Organizar novo evento</a>

    </div>
  </header>

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4 posts-list">

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Categoria A</p>

            <h2 class="title">
              <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
            </h2>
            <p class="caracteristica-evento">Privado</p>
            <p class="caracteristica-evento">+18</p>


            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
                <p class="post-date"> 
                  <time datetime="2022-01-01">Jan 1, 2022</time>
                </p>
              </div>
            </div>
            <a href="#" class="cta-button btn-edit">Editar</a>
          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Categoria A</p>

            <h2 class="title">
              <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
            </h2>
            <p class="caracteristica-evento">Privado</p>
            <p class="caracteristica-evento">+18</p>


            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
                <p class="post-date"> 
                  <time datetime="2022-01-01">Jan 1, 2022</time>
                </p>
              </div>
            </div>
            <a href="#" class="cta-button btn-edit">Editar</a>
          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <p class="post-category">Categoria A</p>

            <h2 class="title">
              <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
            </h2>
            <p class="caracteristica-evento">Privado</p>
            <p class="caracteristica-evento">+18</p>


            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
                <p class="post-date"> 
                  <time datetime="2022-01-01">Jan 1, 2022</time>
                </p>
              </div>
            </div>
            <a href="#" class="cta-button btn-edit">Editar</a>
          </article>
        </div><!-- End post list item -->
  </section><!-- End Blog Section -->
{% endblock %}