{% extends 'base/base.html' %}

{% load static %}
{% block 'head' %}
  <link rel="stylesheet" href="{% static 'Platform/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">

{% endblock %}

{% block 'title' %}Eventos - Participando{% endblock %}

{% block 'body' %}
<header>
    <div class="container">
          <h1>Meus Eventos - {% if not render_solicitations %}Participando{% else %}Solicitações para Participação{% endif %}</h1>
        <p>Descubra eventos intererssantes e emocionantes para participar e se divertir ao máximo!</p>

        <a href="{% url 'explorar_eventos' %}" class="cta-button">Explorar novos eventos</a> <br>
        <hr>
        <!-- <div style="color: rgb(159, 159, 159);" id="titlehelp" class="form-text"></div> -->
        <form method="get">
          <div class="div-select-filters">
            <label for="select_order">Ordem:</label>
            <select style="width: 57px;" name="select_order" class="filter-select">
                  <option value="title" {% if not request.GET.select_dec_cre or request.GET.select_order == 'title' %}selected{% endif %} >Alfabética</option>
                  <option value="num_participants" {% if request.GET.select_order == 'num_participants' %}selected{% endif %}>Populariedade</option>
                  <option value="start_date_time" {% if request.GET.select_order == 'start_date_time' %}selected{% endif %}>Data Início</option>
              </select>
          </div>
          <div class="div-select-filters">
            <select style="width: 57px;" name="select_dec_cre" class="filter-select">
                  <option value="crescent" {% if not request.GET.select_dec_cre or request.GET.select_dec_cre == 'crescent' %}selected{% endif %}>Crescente</option>
                  <option value="decrescent" {% if request.GET.select_dec_cre == 'decrescent' %}selected{% endif %}>Decrescente</option>
              </select> 
          </div>
          
          {% if render_solicitations %}
            <div class="div-select-filters">
              <select style="width: 57px;" name="select_status_solicitation" class="filter-select">
                    <option value="w" {% if not request.GET.select_status_solicitation or request.GET.select_status_solicitation == 'w' %}selected{% endif %}>Aguardando</option>
                    <option value="a" {% if request.GET.select_status_solicitation == 'a' %}selected{% endif %}>Aceita</option>
                    <option value="r" {% if request.GET.select_status_solicitation == 'r' %}selected{% endif %}>Rejeitada</option>
                </select>
            </div>
          {% endif %}

            <button style="padding: 4px; width: 50px;" class="cta-button" type="submit">ir »</button>
            
            <div class="div-btns-solicitations" >
              {% if not render_solicitations %}
                <a class="cta-button" href="{% url 'participando' 1 %}">Solicitações ▲</a>
              {% else %}
                <a class="cta-button" href="{% url 'participando' 0 %}">Participando ▼</a>
              {% endif %}
            </div>
          </div>

        </form> 

    </div>
</header>
  <!-- MENSAGENS -->
  {% if messages %}
  <br>
  <ul class="messages">
      {% for message in messages %}
        <div class="{{ message.tags }}" role="alert">
          {{ message|safe }}
        </div>
      {% endfor %}
  </ul>
{% endif %}

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4 posts-list">
        {% for event in events %}
        <div class="col-xl-4 col-md-6 custom-card">
          <article class="{% if not event.has_passed %}article-{{event.status_solicitation}} {% else %} has_passed{% endif %}">
            <div class="post-img">
              <img src="{{ event.event_banner.url }}" alt="" class="img-fluid custom-img-fluid">
            </div>
            <p class="post-category">   
                {{ event.category }} 
            </p>

            <h2 class="title">
              <a href="{% url 'ver_mais' event.id %}">{{ event.title }}</a>
            </h2>
            {% if render_solicitations %}
              <p class="status {{event.status_solicitation}}"><label>Estado solicitação:</label>
                {% if event.status_solicitation == 'w' %} Aguardando {% endif %}
                {% if event.status_solicitation == 'a' %} Aceita {% endif %}
                {% if event.status_solicitation == 'r' %} Rejeitada {% endif %}
              </p>
            {% endif %}

            <p class="caracteristica-evento">{% if event.free %}Livre{% else %}+18{% endif %}</p>
            <p class="caracteristica-evento">{% if event.private %}Privado{% else %}Público{% endif %}</p>
            {% if event.has_passed %}<p style="color: red;">Evento já acabou...</p>{% endif %}

            <p class="n-participants"><a class="link" style="text-decoration: none;" href="{% url 'participantes' event.id %}"><i class="bi bi-person-fill"></i> {{ event.qtd_participants }}</a></p>
            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-date"> 
                  <time datetime="{{ event.start_date_time }}">{{ event.start_date_time|date:"d/m/Y" }}</time>
                </p>
              </div>
            </div><br>

            <a href="{% url 'ver_mais' event.id %}" class="cta-button btn-inline btn-edit">Detalhes</a>
            {% if not event.has_passed %}
              <a href="{% url 'deixar_evento' event.id render_solicitations %}" class="cta-button btn-inline btn-leave">
                {% if not render_solicitations %}
                Sair
                {% else %}
                Remover
                {% endif %}
              </a>
            {% endif %}
            
          </article>
        </div>

   {% empty %}
        <h1>Você não está participando de nenhum evento no momento.</h1>

   {% endfor %}
  </div>
    </div>

      <!-- End post list item -->


  </section><!-- End Blog Section -->
{% endblock %}