{% extends 'base/base.html' %}

{% load static %}
{% block 'head' %}
  <link rel="stylesheet" href="{% static 'Platform/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">

{% endblock %}


{% block 'title' %}Eventos - Participando{% endblock %}

{% block 'body' %}
<header>
    <div class="container">
          <h1>Meus Eventos - Participando</h1>
        <p>Descubra eventos intererssantes e emocionantes para participar e se divertir ao máximo!</p>

        <a href="{% url 'explorar_eventos' %}" class="cta-button">Explorar novos eventos</a> <br>
        <hr>
        <!-- <div style="color: rgb(159, 159, 159);" id="titlehelp" class="form-text"></div> -->
        <form method="get">
          <div class="div-select-filters">
            <label for="select_order">Ordem:</label>
            <select style="width: 57px;" name="select_order" class="filter-select">
                <option value="title" selected>Alfabética</option>
                <option value="num_participants">QTD Participantes</option>
                <option value="start_date_time">Data Início</option>
              </select>
          </div>
          <div class="div-select-filters">
            <select style="width: 57px;" name="select_dec_cre" class="filter-select">
                <option selected value="crescent">Crescente</option>
                <option value="decrescent">Decrescente</option>

              </select> 
  
            <button style="padding: 4px; width: 50px;" class="cta-button" type="submit">ir »</button>

          </div>

        </form>


    </div>
</header>
  <!-- MENSAGENS -->
  {% if messages %}
  <br>
  <ul class="messages">
      {% for message in messages %}
        <div class="{{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
  </ul>
{% endif %}

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4 posts-list">
        {% for event in events %}
        <div class="col-xl-4 col-md-6 custom-card">
          <article>
            <div class="post-img">
              <img src="{{ event.event_banner.url }}" alt="" class="img-fluid custom-img-fluid">
            </div>
            <p class="post-category">
                {{ event.category }}
            </p>

            <h2 class="title">
              <a href="#details">{{ event.title }}</a>
            </h2>
            
            <!-- <p class="status waiting"><label>Estado solicitação:</label> Estado </p> -->

            <p class="caracteristica-evento">{% if event.free %}Livre{% else %}+18{% endif %}</p>
            <p class="caracteristica-evento">{% if event.private %}Privado{% else %}Público{% endif %}</p>

            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-date"> 
                  <time datetime="{{ event.start_date_time }}">{{ event.start_date_time|date:"d/m/Y" }}</time>
                </p>
              </div>
            </div><br>
            <a href="{% url 'ver_mais' event.id %}" class="cta-button btn-inline">Ver Detalhes</a>
          </article>
        </div>

   {% empty %}
        <h1>Você não está participando de nenhum evento no momento.</h1>

   {% endfor %}
  </div>
    </div>

      <!-- End post list item -->


  </section><!-- End Blog Section -->
{% endblock %}