{% extends 'base/base.html' %}

{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'Platform/css/home.css' %}">
  <link rel="stylesheet" href="{% static 'eventos/css/eventos.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="container custom-container ">

        {% for solicitation in solicitations %}
            <p>{{ solicitation }}  -----  <a class="link" href="{% url 'rejeitar_solicitacao' request.user.id solicitation.event.id solicitation.id %}">Rejeitar</a> -- <a class="link" href="{% url 'aceitar_solicitacao' request.user.id solicitation.event.id solicitation.id %}">Aceitar</a></p>

        {% endfor %}

    </div>
{% endblock 'body' %}